.logo {
    margin-top: 20px;
    margin-left: 20px; /* Adjust the value as needed */
    padding-right: 30px;
    
}
.header-options{
    padding: 25px;
    font-family: sans-serif;
    list-style: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
}
.header {
    display: flex;
    align-items: center;
}


.header-options li {
    padding: 8px 16px;
    margin-top: 20px;
    margin-right: 25px;
}

.header-options li a {
    color: #000; /* Change color as needed */
    text-decoration: none;
}
.header-options li:hover {
    background-color: #f0f0f093; /* Change to the desired light grey color */
}
.right-logos {
    margin-top: 20px;
    margin-left: auto; /* Move the right logos to the right */
    margin-right: 20px; /* Add some space from the right side */
}

.right-logos svg {
    margin-right: 30px; /* Add some space between the SVG icons */
}
.body {
    display: flex;
    justify-content: space-between; /* Distribute space between child elements */
    align-items: center; /* Center the content vertically */
    margin-top: 150px; /* Adjust the value to add more space from the header */
    padding: 0 20px; /* Add some padding to the sides */
}
.right-content {
    flex: 2; /* Take up remaining space */
}
.left-content {
    flex: 1; /* Take up remaining space */
}

.line {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px; /* Add some padding inside the border */
    margin-left: 50px;
    margin-left: 3px;
    display: inline-block; /* Make the div shrink-to-fit its content */
}
.border-wrapper {
    border: 2px solid #000; /* Add the border style as needed */
    border-radius: 50px; /* Add border-radius for rounded corners */
    padding: 4px 16px;
}
.main-heading {
    padding-left: 30px; /* Adjust space from the left */
}

.main-heading h1 {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 48px; /* Increase the font size */
    line-height: 1.2; /* Reduce the space between lines */
}

.main-heading h1 span {
    background: linear-gradient(135deg, #8A2BE2  20%,  #FF1493); /* Adjust gradient position */
    -webkit-background-clip: text; /* Clip the gradient to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent */
}

.left-content {
    font-family: sans-serif;
    font-size: 24px;
    line-height: 1.5;
    padding: 0px  20px 20px 28px; /* Add padding to create space around the content */
    color: #64748B; /* Set the background color */
    border-radius: 10px; /* Add border-radius for rounded corners */
}
.btn {
    margin-top: 5px; /* Add margin to separate from other content */
    margin-left: 25px;
}

.btn button {
    padding: 8px 16px; /* Add padding to the buttons */
    margin-right: 10px; /* Add margin between buttons */
    font-size: 16px; /* Set the font size */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer */
}

.btn button:last-child {
    margin-right: 0; /* Remove margin from the last button */
}

.btn button:nth-child(1) {
    border-radius: 10px;
    background-color: black; /* Set background color for the first button */
    color: white; /* Set text color for the first button */
}
.left-content img{
    border-radius: 20px;
    height: 600px;
    width: 385px;
}
.trading {
    width: 1280px;
    height: 420px;
    background-color: #F1F5F9; /* Set background color */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    border-radius: 30px;
    padding-bottom: 100px;
}

.lefti {
    flex: 2; /* Set flex property to 2 for the image */
}

.righti {
    width: 580px;
    height: 240px;
    flex: 3;
    font-family: sans-serif;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px; /* Add padding */
}


.title h1 {
    font-size: 44px;
    font-weight: bold;
}

.content p {
    font-size: 20px;
    margin-right: 24px;
    color: #0F172A;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: sans-serif;
}

.three,
.two {
    margin-right: 70px; /* Add margin gap between the two columns */
}

.three {
    display: flex;
    flex-direction: column; /* Display items in a column */
    justify-content: space-between;
}

.two {
    display: flex;
    flex-direction: column; /* Display items in a column */
}
li svg {
    margin-right: 10px; /* Add margin to the right of the SVG icon */
}
.checks{
    justify-content: space-between;
}

.lefti img {
    margin-top: 80px;
    background: linear-gradient(135deg, #8A2BE2  20%,  #FF1493);
    width: 384px;
    height: 384px;
    border-radius: 30px;
}
.trading a{
    cursor: pointer;
    color: #3B82F6;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 10px;
}
.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.head{
    font-family: sans-serif;

}
.para {
    font-family: sans-serif;
    color: #0F172A;
    
    width: 620px;
    height: 120px;
}
.para a {
    cursor: pointer;
    color: #3B82F6;
    font-weight: 700;
}

.cards {
    color: black;
    width: 300px; /* Adjust width as needed */
    border-radius: 10px;
    overflow: hidden;
}

.image {
    height: 150px; /* Adjust height of image */
}

.image img {
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.content {
    padding: 20px;
    background-color: #F1F5F9 ;
}

.content h2 {
    margin-top: 0;
    margin-bottom: 10px;
}



.content h2 {
    font-size: 16px;
    font-family: sans-serif;
    text-align: left;
    margin-top: 0;
}

.content p {
    font-family: sans-serif;
    text-align: left;
    color: #0F172A; /* Updated paragraph color */
    font-size: 14px;
    margin-top: 0;
}

.sign-up,
.view-items {
    display: block; /* Ensure buttons occupy their own line */
    width: 100%; /* Make buttons occupy full width */
    padding: 10px; /* Add padding to buttons */
    margin-bottom: 10px; /* Add margin between buttons */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    font-family: sans-serif;
}

.sign-up {
    transition: transform 0.3s ease;
    font-weight: 700;
    background-color: black;
    color: white;
}

.view-items {
    transition: transform 0.3s ease;
    font-weight: 600;
    background-color: white;
    color: black;
    box-shadow: 0 0 0 0.1px black; /* Set a thin border-like shadow */
    font-family: sans-serif;
}
.card-container {
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between cards */
    margin-top: 20px; /* Adjust the top margin of the card container */
}
.icofont-arrow-right {
    background-color: white;
}
.material-symbols-outlined {
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
    transform: rotate(-45deg);
}
.cards .image img {
    transition: transform 0.3s ease; /* Add transition effect only to the image */
}

.cards:hover .image img {
    transform: scale(1.05) rotate(-3deg); /* Zoom in and rotate the image on hover */
}

.cards button {
    transition: transform 0.3s ease; /* Add transition effect only to the button */
    /* Other button styles */
}

.cards button:hover {
    transform: scale(1.02); /* Increase button size on hover */
}
.head {
    text-align: center; /* Center-align the text */
}

.head a, .head h1 {
    display: block; /* Make the anchor tag and header block-level elements */
}

.head a {
    color: blue;
    font-weight: 700;
    margin-bottom: 5px; /* Add some spacing between the anchor tag and the header */
}
.para1{
    width: 520px;
    font-family: sans-serif;
    font-size: 16px;
    color: #64748B;
}
.ops{
    padding: 20px;
}
.op {
    background-color: #F1F5F9;
    padding: 20px;
    display: inline-block;
    margin-right: 20px;
}

.optionss1 {
    font-family: sans-serif;
    display: flex;
}
.content1 {
    font-family: sans-serif;
    padding-right: 4px;
    display: block; /* Ensure content is displayed as block-level elements */
    color: #64748B;
}


.title {
    display: flex; /* Use flexbox for title */
    align-items: center; /* Align items vertically */
    margin-right: 20px; /* Add margin to separate the symbol and the title */
}

.material-symbols-outlined {
    margin-right: 10px; /* Add spacing between symbol and title */
}

.fa-volume-high {
    padding-right: 4px;
    padding-top: 20px;
    color: rgb(59 130 246); /* Change icon color to blue */
    font-size: 24px; /* Change icon size */
    margin-right: 5px; /* Add margin to the right */
    vertical-align: middle; /* Align icon vertically */
}
.content1 p {
    font-family: sans-serif;
    width: 490px;
    color: #64748B;
    margin-left: 0; /* Adjust the margin to move the paragraph to the left */
    text-align: left; /* Align text to the left */
}
.content2 p{
    font-family: sans-serif;
    width: 350px;
    padding: 2px;
    color: #64748B;
    margin-left: 0; /* Adjust the margin to move the paragraph to the left */
    text-align: left; /* Align text to the left */
}
.optionss2{
    font-family: sans-serif;
    padding-right: 4px;
    display: flex;
}
.fa-link {
    padding-right: 4px;
    padding-top: 20px;
    color: rgb(59 130 246); /* Change icon color to blue */
    font-size: 24px; /* Change icon size */
    margin-right: 5px; /* Add margin to the right */
    vertical-align: middle; /* Align icon vertically */
}
.optionss3 {
    padding-right: 4px;
    font-family: sans-serif;
    display: flex;
}
.content3 p{
    font-family: sans-serif;
    width: 360px;
    color: #64748B;
    margin-left: 0; /* Adjust the margin to move the paragraph to the left */
    text-align: left; /* Align text to the left */
}
.fa-layer-group{
    padding-right: 4px;
    padding-top: 20px;
    color: rgb(59 130 246); /* Change icon color to blue */
    font-size: 24px; /* Change icon size */
    margin-right: 5px; /* Add margin to the right */
    vertical-align: middle; /* Align icon vertically */
}
.content4 {
    font-family: sans-serif;
    padding-right: 4px;
    display: block; /* Ensure content is displayed as block-level elements */
    color: #64748B;
}

.content4 p {
    font-family: sans-serif;
    width: 490px;
    color: #64748B;
    margin-left: 0; /* Adjust the margin to move the paragraph to the left */
    text-align: left; /* Align text to the left */
}

.optionss1 {
    font-family: sans-serif;
    display: flex;
}
.fa-bolt{
    padding-right: 4px;
    padding-top: 20px;
    color: rgb(59 130 246); /* Change icon color to blue */
    font-size: 24px; /* Change icon size */
    margin-right: 5px; /* Add margin to the right */
    vertical-align: middle; /* Align icon vertically */
}
.fa-star{
    padding-right: 4px;
    padding-top: 20px;
    color: rgb(59 130 246); /* Change icon color to blue */
    font-size: 24px; /* Change icon size */
    margin-right: 5px; /* Add margin to the right */
    vertical-align: middle; /* Align icon vertically */
}
.fa-fingerprint{
    padding-right: 4px;
    padding-top: 20px;
    color: rgb(59 130 246); /* Change icon color to blue */
    font-size: 24px; /* Change icon size */
    margin-right: 5px; /* Add margin to the right */
    vertical-align: middle; /* Align icon vertically */
}
.op-a{
    padding: 20px;
    display: block; /* Make the anchor a block-level element */
    text-align: left; /* Align text to the left */
    font-family: sans-serif;
    font-weight: 600;
    color: #3B82F6;
}
.trade-card {
    width: 200px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 0 0.1px #000; /* Thin black line around the card */
}
.community-trade{
    margin: 10px;
}
.cardTrade{
    display: flex;
}



.trade-card > * {
    margin-bottom: 10px; /* Add margin between card elements */
}

.trade-card img {
    width: 50px; /* Set width for images */
    height: 50px; /* Set height for images */
    border-radius: 50%; /* Make images round */
    margin-right: 10px; /* Add margin between image and text */
}

.trade-card p {
    margin: 0; /* Remove default margin for paragraphs */
}

.trade-card .name {
    display: flex;
    align-items: center; /* Align items vertically */
}

.trade-card .num {
    margin-left: auto; /* Push the number to the right */
}

.trade-card .offer, .trade-card .request {
    display: flex;
    align-items: center; /* Align items vertically */
}

.trade-card .rating {
    display: flex;
    align-items: flex-start; /* Center align rating */
}
.trade-card .rating h1 {
    margin: 0; 
    font-size: 16px; /* Adjust the font size as needed */
    margin-right: 10px; 
}

.trade-card button {
    padding: 8px 16px; /* Add padding to the button */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    background-color: #000000; /* Set button background color */
    color: #fff; /* Set button text color */
    cursor: pointer; /* Change cursor to pointer */
}

.trade-card button:hover {
    background-color: #2563EB; /* Change button background color on hover */
}
.trade-card .offer,
.trade-card .request {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

.trade-card .offer img,
.trade-card .request img {
    padding: 12px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.trade-card .offer p,
.trade-card .request p {
    margin: 0;
}
.red{
    color: red;
}
.green{
    color: rgb(0, 255, 0);
}
.tradeText{
    text-align: left;
}
.sec{
    font-family: sans-serif;
    font-size: 12px;
}
.num{
    font-family: sans-serif;
    padding: 3px;
    text-align: left;
    font-size: 12px;
}
.black{
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
.blue{
    color: blue;
}
.trade-btn{
    width: 160px;
}
.fa-eye{
    margin-right: 8px;
}
h1{
    font-family: sans-serif;
}
.see{
    padding: 8px 16px; /* Add padding to the button */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    background-color: #000000; /* Set button background color */
    color: #fff; /* Set button text color */
    cursor: pointer; /* Change c*/
}
.faqs {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center-align the content */
    width: 640px;
    margin: 0 auto; /* Center horizontally */
}

.faqs h1 {
    margin-bottom: 10px; /* Optional: Add some space below the heading */
}

.faqs p {
    width: 750px;
    height: 36px;
    padding: 0px 20px 20px 20px 20px;
    color: #0F172A;
    font-family: sans-serif;
    font-size: 16px;
}
.questions {
    margin-right: 90px; /* Adjust the left margin as needed */
}

/* Initially hide all answers */
.faqs .questions .answer {
    opacity: 0; /* Hide the answer initially */
    max-height: 0; /* Hide the answer content */
    overflow: hidden; /* Hide overflowing content */
    transition: opacity 0.5s ease, max-height 0.5s ease; /* Add transition for smooth fade-in */
}
.faqs .questions .answer.fade-in {
    text-align: left;
    opacity: 1; /* Show the answer */
    max-height: 1000px; /* Set max-height to allow the content to expand */
}


/* Cursor pointer for questions */
.faqs .questions .question {
    margin-top: 20px;
    text-align: left;
    cursor: pointer;
}

/* Add style for the link */
.blue {
    color: blue;
    font-family: sans-serif;
    font-weight: 600;
}
.read{
    margin-left: 680px;
    width: 100px;
    margin-bottom: 30px;
}
.footer-section {
    text-align: center;
    display: flex;
    justify-content: center; /* Center items horizontally */
    background-color: #F1F5F9; /* Set background color */
    padding: 50px 100px 30px 100px; /* Add padding */
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    display: inline; /* Display list items inline */
    margin-right: 30px;
}

.footer-section a {
    color: #64748B; /* Set link color */
    text-decoration: none; /* Remove underline */
    font-size: 14px; /* Adjust font size */
}
.footer-icons ul {
    background-color: #F1F5F9;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
}

.footer-icons ul li {
    margin:  10px; /* Add margin around list items */
}

.footer-icons ul li i {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
a {
    text-decoration: none;
}
